<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the EditCtrl is given the scope of the <div> element where it is called-->
<!--We then use EditCtrl (as ctrl) to manipulate elements within this <div>-->
<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Groceries Management System
            <small>Edit Product </small>
        </h1>
    </div>
    <br/>

    <!--<form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="id">Product No:</label>
            <input id="id" class="form-control" type="text" name="id"
                   placeholder="Enter product number"
                   ng-model="ctrl.id"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>-->

    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
            <tr>
                <th>Product Attributes</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>
                    {{ ctrl.result.id }}
                </td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>
                    <div ng-hide="ctrl.isEditorOn">
                        {{ ctrl.result.brand }}

                    </div>
                    <div ng-show="ctrl.isEditorOn">
                        <div class="input-group">
                            <!--<input type="text" class="form-control" size="1" ng-model="ctrl.result.name">-->
                            <input type="text" class="form-control" ng-model="ctrl.result.brand">
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <div ng-hide="ctrl.isEditorOn">
                        {{ ctrl.result.name }}

                    </div>
                    <div ng-show="ctrl.isEditorOn">
                        <div class="input-group">
                            <!--<input type="text" class="form-control" size="1" ng-model="ctrl.result.name">-->
                            <input type="text" class="form-control" ng-model="ctrl.result.name">
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>UPC 12</td>
                <td>
                    <div ng-hide="ctrl.isEditorOn">
                        {{ ctrl.result.upc12 }}
                    </div>
                    <div ng-show="ctrl.isEditorOn">
                        <div class="input-group">
                            <!--<input type="text" class="form-control" size="1" ng-model="ctrl.result.name">-->
                            <input type="text" class="form-control" ng-model="ctrl.result.upc12">
                        </div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <!--<div class="input-group-btn" align="right">
        <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-success" ng-click="ctrl.updateGroc()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger" ng-click="ctrl.toggleEditor()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <a href="#!/searchDB" class="btn btn-info" role="button">Back to groceries</a>
    </div>
</div>-->
<div class="input-group-btn" align="right">
         <div ng-show="ctrl.isEditorOn">
            <button type="button" class="btn btn-success" ng-click="ctrl.updateGroc()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="ctrl.toggleEditor()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
         </div>
    </div>
    <div class="input-group-btn" align="middle">
    <div ng-show="!ctrl.isEditorOn">
        <button type="button" class="btn btn-default" ng-click="ctrl.toggleEditor()">
            <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->Edit details
        </button>
        <a href="#!/searchDB" class="btn btn-info" role="button">Back to groceries</a>
    </div>
    </div>
</div>
</div>