<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>Groceries Management System
        </h1>
    </div>
    <br/>

    <!--Search UI-->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="brand" class="form-control" type="text"
                   name="brand"
                   ng-model = "ctrl.queryString"
                   size="50"
                   placeholder="Enter product brand or name">
        </div>
    </form>
    <hr>
    <!-- Creates area to display search result-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
             <th>Name</th>
              <th>Barcode</th>
        </tr>
        </thead>
        <tbody>
        <!--ng-repeat directive repeats an HTML element a number of times. The syntax ng-repeat = "x in y" allows us
        to iterate through an array or object. In the case below, we are iterating through the contents of the array
        of objects ctrl.departments, dept is assigned an instance (i.e, an object) of the array-->
        <tr class="animation" ng-repeat="groc in ctrl.groceries | filter:ctrl.queryString">
            <td>{{groc.id }}</td>
            <td>{{ groc.brand }}</td>
            <td>{{groc.name }}</td>
            <td>{{ groc.upc12 }}</td>
        </tr>
        </tbody>
    </table>
</div>