<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Groceries Management System
            <small>List Groceries</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter product brand or name"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Products
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <!--<th>Brand</th>-->
             <!--<th>Name</th>-->
        <th>
          <a href="#" ng-click="ctrl.orderByField='brand'; ctrl.reverseSort = !ctrl.reverseSort">
          Brand<span ng-show="ctrl.orderByField == 'brand'"><span ng-show="!ctrl.reverseSort">^</span><span ng-show="ctrl.reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="ctrl.orderByField='name'; ctrl.reverseSort = !ctrl.reverseSort">
          Name<span ng-show="ctrl.orderByField == 'name'"><span ng-show="!ctrl.reverseSort">^</span><span ng-show="ctrl.reverseSort">v</span></span>
          </a>
        </th>
              <th>Barcode</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="groc in ctrl.groceries | orderBy:ctrl.orderByField:ctrl.reverseSort">
            <td><a href ng-click="ctrl.goEdit(groc.id)">{{ groc.id }}</a></td>
            <td>{{ groc.brand }}</td>
            <td>{{groc.name }}</td>
            <!--<td>{{ groc.upc12 }}</td>-->
        <td><img ng-src="http://www.barcodes4.me/barcode/c128a/{{groc.upc12}}.png?IsTextDrawn=1" alt="{{ groc.upc12}}"/></td>
        </tr>
        </tbody>
    </table>
</div>